.main {
  width: 100%; }

html {
  background: #FBE8D3; }

@keyframes bounce {
  60%, 80%, to {
    transform: translateY(300px);
    animation-timing-function: ease; }
  70% {
    transform: translateY(200px); }
  90% {
    transform: translateY(260px); } }
html, body, p, ul, li, h1, h2, h3, h4 {
  padding: 0;
  margin: 0; }

ul {
  list-style: none; }

.sidebar {
  position: fixed;
  top: 50px;
  width: 20%;
  text-align: center;
  background: #70A1D7;
  background: linear-gradient(135deg, transparent 20px, #70A1D7 0) top left, linear-gradient(225deg, transparent 20px, #70A1D7 0) top right, linear-gradient(-45deg, transparent 20px, #70A1D7 0) bottom right, linear-gradient(45deg, transparent 20px, #70A1D7 0) bottom left;
  background-size: 51% 51%;
  background-repeat: no-repeat;
  padding: 40px 0; }

.todos {
  height: 30px;
  background: #F47C7C;
  background: linear-gradient(135deg, transparent 15px, #F47C7C 0) top left, linear-gradient(225deg, transparent 15px, #F47C7C 0) top right, linear-gradient(-45deg, transparent 15px, #F47C7C 0) bottom right, linear-gradient(45deg, transparent 15px, #F47C7C 0) bottom left;
  background-size: 51% 51%;
  background-repeat: no-repeat; }

.sidebar li {
  position: relative;
  font-size: 24px;
  margin: 10px;
  cursor: pointer;
  color: #fff; }
.sidebar h1 {
  width: 80%;
  padding: 20px;
  margin: auto;
  background: #F7F48B;
  background: linear-gradient(135deg, transparent 15px, #F7F48B 0) top left, linear-gradient(225deg, transparent 15px, #F7F48B 0) top right, linear-gradient(-45deg, transparent 15px, #F7F48B 0) bottom right, linear-gradient(45deg, transparent 15px, #F7F48B 0) bottom left;
  background-size: 51% 51%;
  background-repeat: no-repeat; }
.sidebar input {
  line-height: 2;
  text-align: center; }

.content {
  width: 80%;
  margin-top: 50px;
  margin-left: 20%;
  margin-bottom: 50px;
  background: rgba(0, 0, 255, 0.1);
  background: #A1DE93;
  background: linear-gradient(135deg, transparent 20px, #A1DE93 0) top left, linear-gradient(225deg, transparent 20px, #A1DE93 0) top right, linear-gradient(-45deg, transparent 20px, #A1DE93 0) bottom right, linear-gradient(45deg, transparent 20px, #A1DE93 0) bottom left;
  background-size: 51% 51%;
  background-repeat: no-repeat; }

.content > div {
  display: none; }
.content > div.active {
  display: block; }
.content h3 {
  color: #283739;
  padding: 10px;
  background: #F7F48B;
  border-radius: 10px; }
.content li {
  font-weight: bold;
  color: #6C7A89; }

.content-box-one .picture {
  width: 100%;
  height: 240px;
  background: url("../images/ec293c9342dadd00609c27629389c7c0.jpg") center no-repeat;
  background-size: contain;
  position: relative;
  top: -280px;
  animation: bounce 2s cubic-bezier(0.1, 0.25, 1, 0.25) forwards; }
.content-box-one .details-one {
  width: 60%;
  margin: auto;
  padding: 50px; }
.content-box-one .details-one li {
  padding: 5px;
  font-size: 20px; }
.content-box-one .details-one h1 {
  padding: 10px 0; }

.content-box-two .picture {
  width: 100%;
  height: 300px;
  background: url("../images/jinjie-two.jpg") center no-repeat;
  background-size: contain;
  position: relative;
  top: -280px;
  animation: bounce 2s cubic-bezier(0.1, 0.25, 1, 0.25) forwards; }
.content-box-two .details-two {
  width: 60%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px; }
  .content-box-two .details-two li {
    padding: 10px;
    font-size: 20px; }

.content-box-three .picture {
  width: 100%;
  height: 300px;
  background: url("../images/201610170737211000.jpg") center no-repeat;
  background-size: contain;
  position: relative;
  top: -280px;
  animation: bounce 2s cubic-bezier(0.1, 0.25, 1, 0.25) forwards; }
.content-box-three .details-three {
  width: 60%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px; }
  .content-box-three .details-three li {
    padding: 10px;
    font-size: 20px; }
    .content-box-three .details-three li p {
      text-indent: 40px; }

.content-box-four .details-four {
  width: 60%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px; }
  .content-box-four .details-four li {
    padding: 10px;
    font-size: 20px; }
