.content-box-four .details-four {
  width: 60%;
  margin: auto;
  padding-top: 50px;
  padding-bottom: 50px; }
  .content-box-four .details-four li {
    padding: 10px;
    font-size: 20px; }
